/* HOME PAGE SPECIFIC STUFF */
#jumbotron {
  @include grid-span-all;
  .jumbotron {
    height: 600px;
    @include flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../img/discord1.png");
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    img { height: 200px; position: relative; bottom: 40px; }
    h1, h3 { color: white; }
    h1 { font-size: 2rem; }
    h3 { font-size: 1.2rem; padding: 16px 0 0 0; }
  }
}

#page {
  form { padding: 16px; @include grid-span-all; }
  button {
    @include colortrans;
    @include bordertrans;
    background-color: transparent;
    color: $blurple;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid $blurple;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    position: relative;
    &:hover { background: $blurple; color: white; } }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  b { font-weight: 500; }
  }
}
