@mixin grid-header {
  grid-column: 1/16; }
@mixin grid-page {
  grid-column: 2/15; }
@mixin flex-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
@mixin flex {
  display: flex;
  flex-flow: column wrap; }
@mixin colortrans {
  -o-transition:color .2s ease-out, background .1s ease-in;
  -ms-transition:color .2s ease-out, background .1s ease-in;
  -moz-transition:color .2s ease-out, background .1s ease-in;
  -webkit-transition:color .2s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .1s ease-in; }
@mixin bordertrans {
  -o-transition:border .2s ease-out, background .1s ease-in;
  -ms-transition:border .2s ease-out, background .1s ease-in;
  -moz-transition:border .2s ease-out, background .1s ease-in;
  -webkit-transition:border .2s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:border .2s ease-out, background .1s ease-in;
}
