/* HEADER */
#header {
  nav {
    height: 60px;
    position: sticky;
    top: 0;
    .a { margin: 16px 0 12px 11px; }
    a { text-decoration: none; padding: 16px 0px 16px 0; border-top: 2px solid transparent;
    &:hover { border-top: 2px solid white;} }
    span { color: white; font-size: 1.4rem; padding: 0 8px 0 8px;}
    button { height: 35px; margin-top: 10px; margin-left: auto;
             margin-right: 20px; border-style: none; border-radius: 6px;
             border-bottom: 2px solid transparent;
             &:hover { border-bottom: 2px solid white; }
             span { font-size: 1.25rem; } }
  }
}
