@import './components/_all';
@import './helpers/_all';
@import './layouts/_all';
@import './pages/_all';

/* GLOBAL */
body {
  background: $gwhite;
  font-family: 'Roboto', sans-serif;
  a { color: $blurple; }
  b, strong { font-weight: 500; }
  i, em { font-style: italic; }
}
#header {
  @include grid-span-all;
  nav {
    a { @include colortrans; @include bordertrans; }
    @include flex-nav;
    button { background: $blurple-dark; cursor: pointer; @include colortrans;
             @include bordertrans; } }
}

#page {
  @include grid-span-tq;
  #page-content { @include grid-span-all }
  h2 { font-size: 2.25rem; color: $darkgrey; padding: 32px 0 16px 12px; margin-top: 32px; }
  p, a { font-size: 1.1rem; } p { padding: 12px 0; color: $grey } p, ul { margin: 0 16px; }
  ul { list-style: disc; margin: 0 36px; padding: 12px 0; } li { padding: 4px 0; }
}

/* NARROWER DEVICES */
@media only screen and (max-width: 1000px) {
  #page { @include grid-span-fr; }
}

@media only screen and (max-width: 635px) {
  #header { nav { height: 120px;
                  button { margin: 0 11px; } } }
}

@media only screen and (max-width: 600px) {
  #page { @include grid-span-all; }
}
