@import './components/_all';
@import './helpers/_all';
@import './layouts/_all';
@import './pages/_all';

/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 2s ease-in;

  -o-transition:border .2s ease-out, background 2s ease-in;
  -ms-transition:border .2s ease-out, background 2s ease-in;
  -moz-transition:border .2s ease-out, background 2s ease-in;
  -webkit-transition:border .2s ease-out, background 2s ease-in;
  /* ...and now override with proper CSS property */
  transition:border .2s ease-out, background 2s ease-in;
}
#header {
  @include grid-header;
  nav {
    @include flex;
    button { background: $blurple-dark; cursor: pointer; }
  }
}

#page {
  @include grid-page;
}
