/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HEADER */
#header nav {
  height: 60px;
  position: sticky;
  top: 0; }
  #header nav .a {
    margin: 18px 0 12px 11px; }
  #header nav a {
    text-decoration: none;
    padding: 19px 0px 16px 0;
    border-top: 2px solid transparent; }
    #header nav a:hover {
      border-top: 2px solid white; }
  #header nav span {
    color: white;
    font-size: 1.4rem;
    padding: 0 8px 0 8px; }
  #header nav button {
    height: 35px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 20px;
    border-style: none;
    border-radius: 6px;
    border-bottom: 2px solid transparent;
    position: relative; }
    #header nav button:hover {
      border-bottom: 2px solid white; }
    #header nav button:active {
      top: 1px; }
    #header nav button span {
      font-size: 1.25rem; }

.blurple {
  background: #7289da; }

.ghwite {
  background: #ebebeb; }

/* DISPLAY GRID */
body, #page {
  display: grid;
  grid-template-columns: 60px repeat(13, 1fr) 60px;
  grid-template-rows: auto auto; }

/* HOME PAGE SPECIFIC STUFF */
#jumbotron {
  grid-column: 1/16; }
  #jumbotron .jumbotron {
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../img/discord1.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply; }
    #jumbotron .jumbotron img {
      height: 200px;
      position: relative;
      bottom: 40px; }
    #jumbotron .jumbotron h1, #jumbotron .jumbotron h3 {
      color: white; }
    #jumbotron .jumbotron h1 {
      font-size: 2rem; }
    #jumbotron .jumbotron h3 {
      font-size: 1.2rem;
      padding: 16px 0 0 0; }

/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif; }

#header {
  grid-column: 1/16; }
  #header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    #header nav a {
      -o-transition: color .2s ease-out, background .1s ease-in;
      -ms-transition: color .2s ease-out, background .1s ease-in;
      -moz-transition: color .2s ease-out, background .1s ease-in;
      -webkit-transition: color .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: color .2s ease-out, background .1s ease-in;
      -o-transition: border .2s ease-out, background .1s ease-in;
      -ms-transition: border .2s ease-out, background .1s ease-in;
      -moz-transition: border .2s ease-out, background .1s ease-in;
      -webkit-transition: border .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: border .2s ease-out, background .1s ease-in; }
    #header nav button {
      background: #5c73c2;
      cursor: pointer;
      -o-transition: color .2s ease-out, background .1s ease-in;
      -ms-transition: color .2s ease-out, background .1s ease-in;
      -moz-transition: color .2s ease-out, background .1s ease-in;
      -webkit-transition: color .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: color .2s ease-out, background .1s ease-in;
      -o-transition: border .2s ease-out, background .1s ease-in;
      -ms-transition: border .2s ease-out, background .1s ease-in;
      -moz-transition: border .2s ease-out, background .1s ease-in;
      -webkit-transition: border .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: border .2s ease-out, background .1s ease-in; }

#page {
  grid-column: 3/14; }
  #page #page-content {
    grid-column: 1/16; }
  #page h2 {
    font-size: 2.25rem;
    color: #333;
    padding: 32px 0 16px 12px; }
  #page p, #page a {
    font-size: 1.1rem; }
  #page p {
    padding: 12px 0; }
  #page p, #page ul {
    margin: 0 16px; }
  #page ul {
    list-style: disc;
    margin: 0 36px;
    padding: 12px 0; }
  #page li {
    padding: 4px 0; }
  #page form {
    padding: 16px;
    grid-column: 1/16; }
  #page button {
    -o-transition: color .2s ease-out, background .1s ease-in;
    -ms-transition: color .2s ease-out, background .1s ease-in;
    -moz-transition: color .2s ease-out, background .1s ease-in;
    -webkit-transition: color .2s ease-out, background .1s ease-in;
    /* ...and now override with proper CSS property */
    transition: color .2s ease-out, background .1s ease-in;
    -o-transition: border .2s ease-out, background .1s ease-in;
    -ms-transition: border .2s ease-out, background .1s ease-in;
    -moz-transition: border .2s ease-out, background .1s ease-in;
    -webkit-transition: border .2s ease-out, background .1s ease-in;
    /* ...and now override with proper CSS property */
    transition: border .2s ease-out, background .1s ease-in;
    background-color: transparent;
    color: #7289da;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #7289da;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    position: relative; }
    #page button:hover {
      background: #7289da;
      color: white; }
  #page input[type=text], #page input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }

/* NARROWER DEVICES */
@media only screen and (max-width: 1000px) {
  #page {
    grid-column: 2/15; } }
@media only screen and (max-width: 635px) {
  #header nav {
    height: 120px; }
    #header nav button {
      margin: 0 11px; } }
@media only screen and (max-width: 600px) {
  #page {
    grid-column: 1/16; } }

/*# sourceMappingURL=main.css.map */
